body{
height:100vh;
font-family: Arial, Helvetica, sans-serif;
background: linear-gradient( #ccc, #999);
color:#fff;
}
a{

    color:#fff;

}
header{
    text-align: center;
    color:#324055;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2em;
    height:100px;
    width:90%;
    margin:auto; 
}

#mainview{
background-color: #333; 
width:90%;
border-radius: 10px 10px 0 0;
margin:auto;
display:flex;
justify-content:stretch;
}

input{
    padding:5px;
    background-color: #cfcfcf; 
    color:#333;  
    border:1px solid:ccc;; 
    border-radius: 5px;
    margin-left:5px;

}
#worldUser{
border-radius: 10px;
margin:auto;
width:90%;
display:flex;
padding:10px;
background-color: #333;


}
#wordviewer{
margin:auto;
width:70%;
height:300px;
background-color: #333;
border-radius: 10px 10px 0 0;
color:#fff;
overflow:auto;
vertical-align: bottom;
padding:10px;
}
#onlineUser{
    
    background-color: #e2e9e1;
    width:30%;
    height:300px;
    background-color: #333;
    border-radius: 10px 10px 0 0;
    margin:5px;
    overflow:auto;
    padding:10px;
}

#emoji{
    display:flex;
    justify-content: space-around;
    margin: auto;
    width: 100%;
    color:#ccc;
    border: 1px solid #ccc;
    background-color:#333;
    border-radius: 0 0 0 10px;
    padding: 10px;
    height:60px;
}

#console{
    margin:auto;
    width:100%;
    border:1px solid #ccc;
    background-color: #333;
    border-radius: 0 0 10px 0;
    padding:10px;
    height:60px;
}

#frmwrite{

display:flex;
align-items: stretch;
justify-content: stretch;

}
#frmwriteNck{
    display:flex;
    align-items: stretch;
    justify-content: stretch;
    }
#zonetxt{
    
    margin-left:5px;
    height:50px;
    color:#555;
    width:82%;}

#msgConsole{
    margin:auto;
    width:90%;
    display:flex;
    
}
footer{

width:100%;
text-align:center;
}
@media screen and (min-width: 370px) and (max-width: 640px) {
    div {
      font-size:4em;
    }
  }